@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
}
.my_hr {
  width: 1px;
  height: 47px;
  border-right: 1px solid #e6e6e6ab;
  margin-left: 5px;
  margin-right: 5px;
}

.alert {
  padding: 1rem;
  background-color: #ff4040;
  color: white;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.notification {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
  padding: 1rem 1.5rem;
  background-color: #00a762;
  color: white;
  border-radius: 0.5rem;
}

/* stepper */
